<form>
  <div class="form-group">
    <label>Name</label>
    {{input type = "text" class="form-control" value=name placeholder="Add a name..."}}
  </div>
  <div class="form-group">
    <label>Title</label>
    {{input type = "text" class="form-control" value=title placeholder="Add Event..."}}
  </div>
  <div class="form-group">
    <label>Due Date</label>
    {{input type = "date" class="form-control" value=date}}
  </div>
  <div class="form-group">
    <label>Description</label>
    {{textarea class ="form-control" value=description placeholder="Describe Event..."}}
  </div>
  <button {{action 'addTask'}} class ="btn btn-primary">Submit</button>
</form>

<h1>Events</h1>
{{#each model as |task|}}
  <div class="well">
    <h4>Submitted by: {{task.name}}</h4>
    <h4>{{#link-to 'tasks.edit' task.id}}{{task.title}}{{/link-to}}</h4>
    <small>Due: {{task.date}}</small>
    <p>{{task.description}}</p>
    <button {{action 'deleteTask' task}} class="btn btn-danger">Delete</button>
    {{#each task.comments as |comment|}}
      <div class="container">
        <p><strong>{{comment.name}}</strong>: {{comment.comment}}</p>
      </div>
    {{/each}}
    <form>
      <div class="form-group">
        <label>Name</label>
        {{input type = "text" class="form-control" value=commentName placeholder="Name"}}
      </div>
      <div class="form-group">
        <label>New comment</label>
          {{textarea class="form-control" value=commentBody}}
      </div>
      <button {{action 'addComment' task}} class = "btn btn-primary">Submit</button>
    </form>
  </div>
{{/each}}
